#### Hepatocellular carcinoma clinical trials

The landscape for HCC treatment is very complex the disease itself has a low overall survival rate when reaching the unresectable stage. There have been recent advancements in its treatment in the systemic therapies area, but even so, treatment algorithms can be complex as there are second line treatments that require a certain first line to be considered 

I will be looking at 3423 studies from https://clinicaltrials.gov/search?cond=Hepatocellular%20Carcinoma&term=HCC

Data dictionary here: https://clinicaltrials.gov/policy/protocol-definition

In [3]:
# libraries
import pandas as pd
import numpy as np

# setting: see all command outputs 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# data 
ct = pd.read_csv('hcc_trials.csv')

In [11]:
ct.columns
ct[['NCT Number', 'Phases']].groupby(['Phases']).count()
ct[['NCT Number', 'Funder Type']].groupby(['Funder Type']).count()
ct[['NCT Number', 'Study Type']].groupby(['Study Type']).count()
ct[['NCT Number', 'Study Status']].groupby(['Study Status']).count()
#ct[['NCT Number', 'Locations']].groupby(['Locations']).count().sort_values(by = ascending=False)

Index(['NCT Number', 'Study Title', 'Acronym', 'Study Status', 'Brief Summary',
       'Study Results', 'Conditions', 'Interventions',
       'Primary Outcome Measures', 'Secondary Outcome Measures',
       'Other Outcome Measures', 'Sponsor', 'Collaborators', 'Phases',
       'Enrollment', 'Funder Type', 'Study Type', 'Start Date',
       'Primary Completion Date', 'Completion Date', 'First Posted',
       'Results First Posted', 'Last Update Posted', 'Locations'],
      dtype='object')

               NCT Number
Phases
EARLY_PHASE1           50
PHASE1                383
PHASE1|PHASE2         269
PHASE2                838
PHASE2|PHASE3          67
PHASE3                277
PHASE4                107

             NCT Number
Funder Type
FED                  11
INDIV                 3
INDUSTRY            732
NETWORK              13
NIH                  80
OTHER              2511
OTHER_GOV            73

                 NCT Number
Study Type
EXPANDED_ACCESS          11
INTERVENTIONAL         2607
OBSERVATIONAL           805

                         NCT Number
Study Status
ACTIVE_NOT_RECRUITING           198
APPROVED_FOR_MARKETING            4
AVAILABLE                         2
COMPLETED                      1134
ENROLLING_BY_INVITATION          22
NOT_YET_RECRUITING              207
NO_LONGER_AVAILABLE               5
RECRUITING                      626
SUSPENDED                        15
TERMINATED                      267
UNKNOWN                         813
WITHDRAWN                       130

In [ ]:
ct[['Sponsor', 'Phases']][(ct['Funder Type'] == 'INDUSTRY') & (ct['Study Type'] != 'OBSERVATIONAL')]

                             Sponsor         Phases
16            Vaxcell Bio, Co., Ltd.         PHASE2
59    SBPharmaceutical IND, Co., LTD         PHASE2
62         Genzyme, a Sanofi Company  PHASE1|PHASE2
115          Merck Sharp & Dohme LLC         PHASE1
118           Mirror Biologics, Inc.  PHASE1|PHASE2
...                              ...            ...
3400                     MacroGenics         PHASE1
3402                         Guerbet         PHASE4
3403                          xCures            NaN
3407                          AbbVie         PHASE1
3413            Vincerx Pharma, Inc.         PHASE1

[647 rows x 2 columns]

In [ ]:
# Study phases: https://clinicaltrials.gov/policy/protocol-definitions#study-status:~:text=other%20options%20applies.-,Study%20Phase%20*,-Definition%3A%20For%20a
# Treatment: One or more interventions are being evaluated for treating a disease, syndrome, or condition.
# Prevention: One or more interventions are being assessed for preventing the development of a specific disease or health condition.